datasets==3.3.2
git-filter-repo==2.47.0
gmpy2 
huggingface-hub==0.29.1
matplotlib==3.10.0
mpmath 
multidict==6.1.0
multiprocess==0.70.16
numba 
numpy 
nvidia-tensorrt==99.0.0
packaging 
pandas 
pyarrow==19.0.1
PySide6==6.8.2
PySocks==1.7.1
python-dateutil 
PyYAML==6.0.2
requests==2.32.3
scikit-learn 
scipy 
seaborn
statsmodels 
sympy 
tensorrt==10.8.0.43
tensorrt_cu12==10.8.0.43
tensorrt_cu12_bindings==10.8.0.43
tensorrt_cu12_libs==10.8.0.43
tokenizers==0.19.1
torch
tornado
tqdm 
transformers==4.40.1
typing_extensions
tzdata
umap-learn
unicodedata2
